.react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: auto;
  max-height: 400px;
}

.icon-wrap img {
  width: 50px;
  margin-right: 10px;
}

.sugg-option {
  display: flex;
}
.search-div {
  width: max-content;
  /* margin: 20px 0; */
}

#react-autowhatever-1 {
  text-align: center;
  margin: 0 40%;
}

.react-autosuggest__suggestion--highlighted {
  background-color: rgb(206, 219, 255);
}